name = "webpuzzlegames"
compatibility_date = "2024-01-01"

[build]
command = "npm run build"
cwd = ""
watch_dir = "src"

[build.environment_variables]
NODE_VERSION = "18"

[[pages_build_output_dir]]
directory = ".next" 